@font-face {
    font-family: Poppins-Regular;
    src: url('../images/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../images/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../images/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../images/fonts/poppins/Poppins-SemiBold.ttf');
}

.label {
    -fx-font-family: Poppins-Bold;
}

.root {
    -fx-background-image: url("/images/backgroundHomePage.png");
    -fx-background-size: cover;
}

.tab-style {
    -fx-background-color: white;
    -fx-background-radius: 40;
}

.area-style {
    -fx-font-family: Poppins-Bold;
    -fx-background-color: transparent;

    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-position-shape: center;
}

.label-tab {
    -fx-font-size: 12px;
    -fx-text-fill: black;
}

.label-tab:hover {
    -fx-text-fill: #ff589e;
}

.text-field {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

/*mere@gmail.com
*/
.x-style {
    -fx-image: url("/images/x.png");
}

.list-cell:filled:hover {
    -fx-background-color: #ff589e;

    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: white;
    -fx-background-radius: 40;
}

.list-view {
    -fx-background-radius: 40;
}

.conversation-style {
    -fx-background-color: #e8b5d2;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-font-family: Poppins-Bold;
    -fx-font-size: 15;

    -fx-background-radius: 20, 20;
}

.chat-style {
    -fx-border-radius: 20;

}

.chat-Field {
    -fx-text-fill: black;
}

.background-mymessage {
    -fx-background-color: #c570e5;
    -fx-background-radius: 40;
    -fx-text-fill: white;
    -fx-background-position: right center;
    -fx-text-alignment: right;
    -fx-padding: 10;
}

.events-background {
    -fx-background-color: #c570e5;
    -fx-background-radius: 40;
    -fx-text-fill: grey;
    -fx-background-position: center center;
    -fx-text-alignment: right;
    -fx-padding: 30;
}

.scroll-background {
    -fx-background-radius: 40;
    -fx-background-color: white;
}

.rounded-scroll-pane > .scroll-bar:horizontal .thumb,
.rounded-scroll-pane > .scroll-bar:vertical .thumb {
    -fx-background-color : #dddddd;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2em;
}

.rounded-scroll-pane > .scroll-bar:horizontal .thumb:hover,
.rounded-scroll-pane > .scroll-bar:vertical .thumb:hover {
    -fx-background-color : #9e9e9e;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2em;
}

.background-message {
    -fx-background-color: #cebade;
    -fx-background-radius: 40;
    -fx-text-fill: black;
    -fx-background-position: left center;
    -fx-padding: 10;
    -fx-spacing: 20;
}

.label-conversation {
    -fx-background-radius: 20, 20, 0, 0;
    -fx-border-radius: 20, 20, 0, 0;
}

.conversation-field {
    -fx-background-color: white;
    -fx-text-fill: #4d4d4d;
}

.image-send {
    -fx-image: url("/images/sendmessage.png");
}

.close-chat {
    -fx-image: url("/images/cancel.png");
    -fx-opacity: 0.6;
}

.image-plus {
    -fx-image: url("/images/plus.png");

}

.image-setGroup {
    -fx-image: url("/images/check-mark.png");
}

.label-createGroup{
    -fx-text-fill: white;
    -fx-font-family: Poppins-Medium;
}

.label-checkbox {
    -fx-font-family: Poppins-Regular;
    -fx-font-size: 13px;
    -fx-text-fill: #fff;
    -fx-line-height: 1.2;

    -fx-display: block;
    -fx-position: relative;
    -fx-padding-left: 26px;
    -fx-cursor: pointer;
}

.label-createGroup{
    -fx-font-family: Poppins-Medium;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-cursor: grab;
}

.image-name {
    -fx-image: url("/images/bsocial.png");
    -fx-background-size: 180, 60;
    -fx-pref-width: 180;
    -fx-pref-height: 60;
}

.pagination-control{
    -fx-background-color: transparent;
}

.pagination .pagination-control .toggle-button:selected {
    -fx-background-color: #c570e5;
}

.pagination .toggle-button .button{
    -fx-background-radius:15px;
    -fx-padding: 0px;
}
.pagination .button{
    -fx-padding: 5 15 5 16px;
}

.pagination .pagination-control .bullet-button:selected {
    -fx-background-color: transparent, #DDF1F8, #c570e5, white, #c570e5;
}

.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #DDF1F8, #c570e5;
}

.pagination {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.list-view-event {
    -fx-background-radius: 40;
    -fx-pref-height: 200;
}

.event-image {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}

.image-x-events {
    -fx-image: url("/images/cancel-event.png");
    -fx-pref-width: 40;
    -fx-pref-height: 40;
}

.background-event-category {
    -fx-background-color: white;
    -fx-background-radius: 35;
    -fx-text-fill: black;
    -fx-background-position: center center;
    -fx-padding: 15px 15px 15px 15px;
    -fx-spacing: 20;
}

.background-event-category:hover {
    -fx-background-color: #FF75B7;
    -fx-background-radius: 35;
    -fx-text-fill: black;
    -fx-background-position: center center;
    -fx-padding: 15px 15px 15px 15px;
    -fx-spacing: 20;
}

.back-color-category {
    -fx-background-color: #c570e5;
    -fx-background-radius: 20;
}

.image-add-event {
    -fx-image: url("/images/evv.png");
    -fx-pref-height: 30;
    -fx-pref-width: 30;
}
.pagination > .pagination-control > .control-box {
    -fx-alignment: center;
    -fx-padding: 0.416em 1.1em 0 0;
}

.scroll-post {
    -fx-background-image: url("/images/images.jpg");
    -fx-background-size: cover;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
}

.vbox-post{
    -fx-background-color: #9cc8ff;
    -fx-background-radius: 40;
    -fx-padding: 20;
}

.label-name-post{
    -fx-font-size: 13;
    -fx-font-family: Poppins-Bold;
    -fx-padding: 5;
    -fx-text-fill: white;
}

.label-description-post{
    -fx-font-size: 20;
    -fx-font-family: Poppins-Bold;
    -fx-padding: 7;
    -fx-text-fill: white;
}

.label-date-post{
    -fx-font-size: 12;
    -fx-font-family: Poppins-Bold;
    -fx-padding: 7;
    -fx-text-fill: #606060;
}

.label-myfriends{
    -fx-font-size: 16;
    -fx-font-family: Poppins-Bold;
    -fx-padding: 7;
    -fx-text-fill: white;
}

