@font-face {
    font-family: Poppins-Regular;
    src: url('../images/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../images/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../images/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../images/fonts/poppins/Poppins-SemiBold.ttf');
}

.label {
    -fx-font-family: Poppins-Bold;
}

.root {
    -fx-background-image: url("/images/backgroundHomePage.png");
    -fx-background-size: cover;
}

.tab-style {
    -fx-background-color: white;
    -fx-background-radius: 40;
}

.area-style {
    -fx-font-family: Poppins-Bold;
    -fx-background-color: transparent;

    -fx-font-size: 30px;
    -fx-text-fill: white;
    -fx-position-shape: center;
}

.label-tab {
    -fx-font-size: 12px;
    -fx-text-fill: black;
}

.label-tab:hover {
    -fx-text-fill: #ff589e;
}

.text-field {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

/*mere@gmail.com
*/
.x-style {
    -fx-image: url("/images/x.png");
}

.list-cell:filled:hover {
    -fx-background-color: #ff589e;

    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: white;
    -fx-background-radius: 40;
}

.list-view {
    -fx-background-radius: 40;
}

.conversation-style {
    -fx-background-color: #e8b5d2;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-font-family: Poppins-Bold;
    -fx-font-size: 15;

    -fx-background-radius: 20, 20;
}

.chat-style {
    -fx-border-radius: 20;

}

.chat-Field {
    -fx-text-fill: black;
}

.background-mymessage {
    -fx-background-color: #c570e5;
    -fx-background-radius: 40;
    -fx-text-fill: white;
    -fx-background-position: right center;
    -fx-text-alignment: right;
    -fx-padding: 10;

}

.background-message {
    -fx-background-color: #cebade;
    -fx-background-radius: 40;
    -fx-text-fill: black;
    -fx-background-position: left center;
    -fx-padding: 10;
}

.label-conversation {
    -fx-background-radius: 20, 20, 0, 0;
    -fx-border-radius: 20, 20, 0, 0;
}

.conversation-field {
    -fx-background-color: white;
    -fx-text-fill: #4d4d4d;
}

.image-send {
    -fx-image: url("/images/sendmessage.png");
}

.close-chat {
    -fx-image: url("/images/cancel.png");
    -fx-opacity: 0.6;
}

.image-plus {
    -fx-image: url("/images/plus.png");

}

.image-setGroup {
    -fx-image: url("/images/check-mark.png");
}

.label-createGroup{
    -fx-text-fill: white;
    -fx-font-family: Poppins-Medium;
}

.label-checkbox {
    -fx-font-family: Poppins-Regular;
    -fx-font-size: 13px;
    -fx-text-fill: #fff;
    -fx-line-height: 1.2;

    -fx-display: block;
    -fx-position: relative;
    -fx-padding-left: 26px;
    -fx-cursor: pointer;
}

.label-createGroup{
    -fx-font-family: Poppins-Medium;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-cursor: grab;
}

.image-name {
    -fx-image: url("/images/bsocial.png");
    -fx-background-size: 180, 60;
    -fx-pref-width: 180;
    -fx-pref-height: 60;
}