@font-face {
    font-family: Poppins-Regular;
    src: url('../images/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../images/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../images/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../images/fonts/poppins/Poppins-SemiBold.ttf');
}

.label {
    -fx-font-family: Poppins-Bold;
}

.root {
    -fx-background-image: url("/images/bg.jpg");
    -fx-background-size: cover;
}

.wrap-input100 {
    -fx-width: 100%;
    -fx-position: relative;

    -fx-margin-bottom: 30px;
}
.validate-input {
    -fx-position: relative;
}

.input100 {
    -fx-font-family: Poppins-Regular;
    -fx-font-size: 16px;
    -fx-color: white;
    -fx-line-height: 1.2;

    -fx-display: block;
    -fx-width: 100%;
    -fx-height: 45px;
    -fx-background: transparent;
    -fx-padding: 0 5px 0 38px;
}

.labelTitle {
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

.labelTitle:hover {
    -fx-text-fill: #3f72af;
}

.purpleBox {
    -fx-border-radius: 10px;
    -fx-overflow: hidden;
    -fx-background-color: #9152f8;
    -fx-background-color: linear-gradient(to top, #b224ef, #7579ff);
    -fx-background-radius: 20;
}

.text-field {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.placeholder{
    -fx-text-fill: white;
}

.label-credentials {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.login-button {
    -fx-font-size: 15px;
    -fx-background-color: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 20;
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #9152f8;
    -fx-background-color: linear-gradient(to top, #7579ff, #b224ef);
    -fx-text-fill: white;
}

.button:hover{
    -fx-cursor: pointer;
}

.no-account-label {
    -fx-text-fill: white;
}

.no-account-label:hover{
    -fx-text-fill: black;
}

.label-checkbox {
    -fx-font-family: Poppins-Regular;
    -fx-font-size: 13px;
    -fx-text-fill: #fff;
    -fx-line-height: 1.2;

    -fx-display: block;
    -fx-position: relative;
    -fx-padding-left: 26px;
    -fx-cursor: pointer;
}
