@font-face {
    font-family: Poppins-Regular;
    src: url('../images/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../images/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../images/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../images/fonts/poppins/Poppins-SemiBold.ttf');
}

.root{
    -fx-background-image:url("/images/profile-back.png");
    -fx-background-size: cover;
}

.name{
    -fx-font-size: 30px;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

.anchor-style{
    -fx-background-color: white;
    -fx-background-radius: 40;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {

    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:hover {
    -fx-background-color: #ff589e;
    -fx-text-fill: white;
}
.list-cell{
    -fx-cell-size: 50;
    -fx-text-alignment: right;
    -fx-font-size: 18;
    -fx-text-fill: black;
    -fx-font-family: Poppins-Medium;

}
.list-view{
    -fx-border-color: transparent;

}



.label-edit{
    -fx-font-size: 12px;
    -fx-font-family: Poppins-Bold;
    -fx-text-fill: black;
}

.conversation-style{
    -fx-background-color: #e8b5d2;
    -fx-text-fill: white;
    -fx-font-family: Poppins-Bold;
    -fx-font-size: 15;
}

.x-style {
    -fx-image: url("/images/x.png");
    -fx-pref-height: 40;
    -fx-pref-width: 40;
}

.chat-view{
    -fx-border-color: transparent;
}

.button-menu{
    -fx-background-image: url("/images/menu.png");
    -fx-background-color: white;
    -fx-background-size: cover;
}

.image-myfriendrquests{
    -fx-image: url("/images/requests.png");
    -fx-background-size: 20;
}

.image-myfriendrquestssend{

    -fx-background-size: 20;
    -fx-image: url("/images/send.png");
}

.image-activity-report {
    -fx-image: url("/images/society.png");
}

.image-messages-report {
    -fx-image: url("/images/card.png");
}

.date-image {
    -fx-image: url("/images/check.png");
}

.label-white-text {
    -fx-text-fill: white;
}

.profile-photo {
    -fx-shape: circle;
    -fx-position-shape: center;
    -fx-background-size: contain;
    -fx-pref-height: 60;
    -fx-pref-width: 50;
    -fx-background-radius: 100;
}


.pagination-control{
    -fx-background-color: transparent;
}

.pagination .pagination-control .toggle-button:selected {
    -fx-background-color: #c570e5;

}

.pagination .toggle-button .button{
    -fx-background-radius:15px;
    -fx-padding: 0px;
}
.pagination .button{
    -fx-padding: 5 15 5 16px;
}

.pagination .pagination-control .bullet-button:selected {
    -fx-background-color: transparent, #DDF1F8, #c570e5, white, #c570e5;
}

.pagination .pagination-control .left-arrow, .right-arrow{
    -fx-background-color: #DDF1F8, #c570e5;
}

.pagination {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.pagination > .pagination-control > .control-box {
    -fx-alignment: center;
    -fx-padding: 0.416em 1.1em 0 0;
}


.button-accept-reject{
    /*-fx-position: absolute;*/
    /*-fx-transform: translate(-50%, -50%);*/
    -fx-width: 60px;
    -fx-height: 30px;
    -fx-text-align: center;
    -fx-line-height: 50px;
    -fx-font-size: 12px;
    -fx-font-family: Poppins-Bold;
    -fx-box-sizing: border-box;
    -fx-border-radius: 60px;
    -fx-background-radius: 60;
    -fx-background-color: white;
    -fx-text-fill: black;


    -fx-z-index: 1;


}
.button-accept-reject:hover {
    -fx-background-color:linear-gradient(to left, #fc6e99, #cbad6d);
    /*animation: animate 10s linear infinite;*/
    -fx-cursor: pointer;
    -fx-text-fill: white;
}